arize-phoenix-otel
arize-phoenix-client
arize-phoenix-evals
openinference-instrumentation-anthropic
anthropic==0.111.0
voyageai
psycopg[binary]
pgvector
pandas
scipy
scikit-learn
requests
python-dotenv
pytest
